{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>Edit entry:</h2>
{% endblock header %}

{% block content %}
  <ul>
    <li>
      <h3>
    <a href="{% url 'learning_logs:topic' topic.id %}">{{topic}}</a>
      </h3>
  	</li>
  </ul>
  <form action="{% url 'learning_logs:new_entry' topic.id %}"method='post'>
  	{% csrf_token %}
  	{{ form.as_p }}
  	{% buttons %}
	  <button name="submit" class="btn btn-primary">save changes</button>
	{% endbuttons %}
   </form>
{% endblock content %}
